################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PITL.Extract.Job/obj
/PITL.Extract.Worker/bin/Debug/net5.0
/PITL.Extract.Worker/obj
/PITL.Extract.Job/bin/Debug/net5.0
/PITL.Extract.Job.Abstractions/obj
/PITL.Extract.Job.Abstractions/bin/Debug/net5.0
